 h1 {
  font-family: 'Clicker Script', cursive;
  text-align: center; 
  margin: 0;
  @media(min-width: 768px){
    margin: 32px 0;
    font-size: 2.8em;
}
}

ul{
  padding-left: 0; 
  list-style: none; 
}


nav {
  display: flex; 
  justify-content: space-around; 
   ul {
    display: flex; 
  }
  
   & .nav-bar-ul > li {
    border-radius: 7px;
    background-color: rgba(25, 255, 83, 0.16);
    margin: 0 9px;
    position: relative;
    @media(min-width: 768px){
      margin: 0 39px;
  }
  }
   & .nav-bar-ul > li:hover {
    background-color: rgba(25, 225, 255, 0.42);
  }
  
   .main-nav {
    text-decoration: none;
    color: rgba(162, 8, 255, 0.87);
    padding: 13px;
    display: inline-block; 
    @media(min-width: 768px){
      padding: 29px;
    }
  }
   a:hover {
    color: #434343;
  }
  
}

.ul-classes-types, .ul-instructors {
  position: absolute; 
  visibility: hidden; 
  display: flex; 
  flex-direction: column; 
  background-color: rgb(236, 236, 236);
  width: 121px;
  opacity: 0; 
  transition: opacity 0.5s ; 

  li{
    padding: 8px 0 8px 5px;
    color: #5f5f5f;
    border-bottom: solid 1px rgba(177, 177, 177, 0.25);  }
  li:hover {
      background-color: #d2d2d2; 
    }
    a{
      color: #434343;
      text-decoration: none;
    }
}

.ul-classes-types {
  top: 43px;
  left: 0px;
  border-radius: 3px;
  width: 73px;
  @media(min-width:768px){
    top: 75px;
    left: 16px;
  }
    & li:first-child {
     box-shadow: inset 0px 3px 12px -7px black;
    }

}

.ul-instructors {
  top: 44px;
  left: 9px;
  border-radius: 3px;
  width: 77px;
  @media(min-width:768px){
    top: 76px;
    left: 24px;
}
  & li:first-child {
     box-shadow: inset 0px 3px 12px -7px black;
    }
  
}


.class-types:hover .ul-classes-types,
.nav-instructors:hover .ul-instructors{
  visibility: visible; 
  opacity: 1.0; 
}























